.p-Home.Flex5 {
display: flex;
}
.p-Home.Flex1 {
display: flex;
align-items: stretch;
justify-content: center;
width: 100%;
align-content: stretch;
flex-direction: column;
flex-shrink: 0;
padding-bottom: 150px;
background-color: #D8D9CF;
}
.p-Home.Flex2 {
display: flex;
padding-top: ;
padding-bottom: 0px;
margin-top: 100px;
align-items: center;
justify-content: center;
flex-grow: 4;
column-gap: 50px;
height: 30px;
width: ;
}
.p-Home.Flex3 {
display: flex;
margin-top: 100px;
flex-direction: row;
column-gap: 40px;
align-items: flex-start;
row-gap: 10px;
justify-content: center;
margin-bottom: ;
}
.p-Home.Flex4 {
display: flex;
margin-top: 90px;
align-items: flex-start;
justify-content: center;
column-gap: 50px;
}
.p-Home.TextBox1 {
width: ;
font-size: 100px;
color: #475b59;
align-self: center;
margin-top: 100px;
}
.p-Home.Input1 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #475b59;
font-size: 30px;
background-color: #EDEDED;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
width: 320px;
height: 50px;
outline-width: 4px;
outline-style: solid;
outline-color: #8BBCCC;
}
.p-Home.Input2 {
box-sizing: border-box;
font-variant: tabular-nums;
font-feature-settings: tnum;
padding-top: 4px;
padding-left: 11px;
padding-bottom: 4px;
padding-right: 11px;
color: #475b59;
font-size: 30px;
background-color: #EDEDED;
background-image: none;
border-width: 1px;
border-style: solid;
border-color: #d9d9d9;
border-radius: 2px;
width: 320px;
height: 50px;
outline-width: 4px;
outline-style: solid;
outline-color: #8BBCCC;
}
.p-Home.Button1 {
color: #fff;
background-color: #5F6F94;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 25px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: none;
border-color: #020c15;
cursor: pointer;
user-select: none;
width: 120px;
height: 50px;
outline-width: 4px;
outline-style: solid;
outline-color: #B7C4CF;
}
.p-Home.Button2 {
color: #fff;
background-color: #5F6F94;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 25px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 120px;
height: 50px;
outline-color: #B7C4CF;
outline-width: 4px;
outline-style: solid;
}
.p-Home.Button3 {
color: #fff;
background-color: #5F6F94;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 25px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 120px;
height: 50px;
outline-color: #B7C4CF;
outline-width: 4px;
outline-style: solid;
}
.p-Home.Button4 {
color: #fff;
background-color: #5F6F94;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 25px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 120px;
height: 50px;
outline-color: #B7C4CF;
outline-width: 4px;
outline-style: solid;
}
.p-Home.Button5 {
color: #fff;
background-color: #5F6F94;
padding-top: 8px;
padding-left: 15px;
padding-bottom: 8px;
padding-right: 15px;
font-size: 25px;
border-radius: 2px;
outline: none;
font-weight: 400;
text-align: center;
border-width: ;
border-style: none;
border-color: #020c15;
cursor: pointer;
user-select: none;
width: 120px;
height: 50px;
outline-width: 4px;
outline-style: solid;
outline-color: #B7C4CF;
}
.p-Home.TextBox2 {
width: 150px;
height: 40px;
padding-top: 20px;
margin-bottom: 0px;
font-size: 40px;
color: #475b59;
align-self: flex-start;
text-align: center;
margin-top: ;
background-clip: border-box;
-webkit-background-clip: border-box;
}
.p-Home.TextBox3 {
width: 150px;
height: 40px;
text-align: center;
align-self: flex-start;
padding-top: 20px;
margin-bottom: 0px;
font-size: 40px;
color: #475b59;
word-wrap: normal;
}
@media screen and (max-width: 478px) {	.p-Home.Flex2 {margin-left: 20px;
margin-right: 20px;
}
	.p-Home.Flex3 {margin-left: 20px;
margin-right: 20px;
}
}